<div fxLayout="column" fxLayoutGap="20px" fxFlex.lt-md="80%" fxFlexOffset.lt-md="10%" fxFlex.md="90%" fxFlexOffset.md="5%" fxFlex.gt-md="95%" fxFlexOffset.gt-md="2.5%">
  <div>
    <md-card>
      <form (ngSubmit)="onSubmit()" #abbreviationForm="ngForm">
        <div fxLayout="column">
          <md-card-content>
            <md-input-container fxFlexFill>
              <input mdInput required type="text" placeholder="Abbreviation" name="abbreviation" [(ngModel)]="formAbbreviation.abbreviation">
            </md-input-container>
            <md-input-container fxFlexFill>
              <input mdInput required type="text" placeholder="Full name" name="full" [(ngModel)]="formAbbreviation.full">
            </md-input-container>
          </md-card-content>
          <md-card-actions>
            <span fxFlex></span>
            <button md-button [disabled]="!abbreviationForm.form.valid" type="submit">Save</button>
          </md-card-actions>
        </div>
      </form>
    </md-card>
  </div>
  <div>
    <md-card flexLayout="row" fxLayoutAlign="none center" *ngFor="let abbreviationItem of (abbreviationStream | async) | reverse">
      <span><b>{{abbreviationItem.abbreviation}}</b></span>
      <span fxHide.xs fxFlex></span>
      <span>{{abbreviationItem.full}}</span>
      <button md-icon-button (click)="remove(abbreviationItem.$key)"><md-icon>delete</md-icon></button>
    </md-card>
  </div>
</div>
