<div fxLayout="column" fxLayoutGap="20px" fxFlex="95%" fxFlexOffset="2.5%">
  <div>
    <md-card class="container">
      <form class="list-form" (ngSubmit)="onSubmit()" #abbreviationForm="ngForm">
        <div fxLayout="column">
          <div>
            <md-input-container fxFlexFill class="list-full-width">
              <input mdInput required type="text" placeholder="Abbreviation" name="abbreviation" [(ngModel)]="formAbbreviation.abbreviation">
            </md-input-container>
          </div>
          <div>
            <md-input-container fxFlexFill class="list-full-width">
              <input mdInput required type="text" placeholder="Full name" name="full" [(ngModel)]="formAbbreviation.full">
            </md-input-container>
          </div>
          <div>
            <span fxHide.xs fxFlex></span>
            <button md-button [disabled]="!abbreviationForm.form.valid" type="submit">Save</button>
          </div>
        </div>
      </form>
    </md-card>
  </div>
  <div>
    <md-card>

    </md-card>
    <md-card> Salt</md-card>
    <md-card> Paprika </md-card>
  </div>
</div>
