  <div fxLayout="column" fxLayoutGap="25px">
    <md-toolbar color="primary">
      <span fxFlex>Exam 1</span>
      <span fxHide.xs fxFlex=""></span>
      <a md-button [routerLink]="['/list']" routerLinkActive="active">
    List
  </a>
      <a md-button [routerLink]="['/random']" routerLinkActive="active">
    Random
  </a>
      <a md-button [routerLink]="['/signin']" routerLinkActive="active">
    Sign In
  </a>
    </md-toolbar>
    <router-outlet fxLayoutAlign="center center"></router-outlet>
  </div>

  